@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

* {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  color: #878787;
  }

  input {
    padding-top: .5em;
    padding-bottom: .5em;
  }
  